* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #f5d5e0;
  background-color: #430d4b;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #210535;
  color: #f5d5e0;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #f5d5e0;
  background-color: #7b337d;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

nav a[aria-current='page'] {
  background-color: #c874b2;
  min-width: 10rem;
}

nav a:hover {
  transform: translateY(-5px); /* Move up by 5 pixels on hover */
}

nav a:active {
  transform: translateY(0); /* Return to original position when active (pressed) */
}

nav a:visited {
  color: #f5d5e0;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

a:visited {
  color: #f5d5e0;
  text-decoration: none;
}

.trail-emoji {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.water-wave {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(218, 138, 139, 0.5);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}